<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header('Home')" />
</head>
<body id="index-body" >

<th:block th:replace="fragments/navbar :: top-nav" />

<h1>Log In</h1>
<div class="alert alert-danger" th:if="${param.error}">
    Invalid Username and Password.
</div>
<div class="alert alert-warning" th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <input type="submit" value="Log In" />
</form>


<th:block th:replace="fragments/scripts :: scripts"></th:block>
</body>
</html>