<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header('Home')" />
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body id="index-body" >

<th:block th:replace="fragments/navbar :: top-nav" />

<h1>Create an account</h1>
<form th:action="@{/sign-up}" method="POST" th:object="${user}">
    <label for="username">Username</label>
    <input id="username" th:field="*{username}" />

    <label for="email">Email</label>
    <input id="email" th:field="*{email}" />

    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" />

    <input value="Sign me up!" type="submit" />
</form>


<th:block th:replace="fragments/scripts :: scripts"></th:block>
</body>
</html>