<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: main-header('Home')" />
</head>
<body>

<th:block th:replace="fragments/navbar :: top-nav" />

<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.

    User ID: <span th:text="${#authentication.principal.id}"/>
    Username: <span th:text="${#authentication.principal.username}"/>
    Email: <span th:text="${#authentication.principal.email}"/>
</div>

<br/>
<img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" alt="" th:if="${role != 'admin'}" />

<img src="https://www.digitalocean.com/assets/media/homepage/logos/docker-bab60eeb.png" alt="" th:if="${role == 'admin'}" />

<input type="text" />

<hr/>

<ul>
    <li class="lists" th:each="color : ${colors}" th:text="${color}"></li>
</ul>

<div class="this-wont-render" th:replace="fragments/footer :: my-footer"></div>

<th:block th:replace="fragments/scripts :: scripts"></th:block>
</body>
</html>